
Source: deepin-scanner
Section: graphics
Priority: optional
Maintainer: deepin <packages@deepin.com>
Build-Depends:
 debhelper (>= 11),
 pkg-config,
 qt6-5compat-dev [!mipsel !mips64el] | libqt5x11extras5-dev,
 qt6-base-dev [!mipsel !mips64el] | qtbase5-dev,
 qt6-tools-dev-tools [!mipsel !mips64el] | qttools5-dev-tools,
 qt6-tools-dev [!mipsel !mips64el] | qttools5-dev,
 libdtk6widget-dev [!mipsel !mips64el] | libdtkwidget-dev,
 libdtk6gui-dev [!mipsel !mips64el] | libdtkgui-dev,
 libdtk6core-dev [!mipsel !mips64el] | libdtkcore-dev,
 libsane-dev,
 libtiff-dev,
 libjpeg-dev,
 libicu-dev,
 libpng-dev,
Standards-Version: 4.5.0

Package: deepin-scanner
Architecture: any
Depends: 
    ${shlibs:Depends}, 
    ${misc:Depends}, 
Description: a tool for scanning.
 Document Scanner is a tool for scanning document files, supporting PDF, JPEG, PNG,TIFF.
